@using StudyCheckWeb.MvcWebUI.Areas.Administrator.Models;
@model EntityListModel;
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";

    int adminSayisi = 0;
    foreach (var rol in Model.roller.Where(r => r.yetki_id == 2).ToList())
    {
        adminSayisi += Model.kullanicilar.Where(k => k.rol_id == rol.id).Count();
    }
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Administrator" asp-controller="dashboard" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item active">StudyCheck</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Kullanıcılar</span>
                        <span class="info-box-number">
                            @Model.kullanicilar.Count()
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-user-shield"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Adminler</span>
                        <span class="info-box-number">@adminSayisi</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-paste"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Sınavlar</span>
                        <span class="info-box-number">@Model.sinavlar.Count()</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-palette"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Temalar</span>
                        <span class="info-box-number">@Model.temalar.Count()</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-warning elevation-1"><i class="far fa-sticky-note"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Dersler</span>
                        <span class="info-box-number">
                            @Model.dersler.Count()
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-tag"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Roller</span>
                        <span class="info-box-number">
                            @Model.roller.Count()
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-address-card"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Yetkiler</span>
                        <span class="info-box-number">
                            @Model.yetkiler.Count()
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <section class="col-lg-6 connectedSortable ui-sortable">
                <!-- TO DO List -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="ion ion-clipboard mr-1"></i>
                            Yapılacaklar
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul id="todoList" class="todo-list" data-widget="todo-list">
                        </ul>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <button data-toggle="modal" data-target="#modal-default" type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Ekle</button>
                    </div>
                </div>
                <div class="card bg-gradient-success">
                    <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title">
                            <i class="far fa-calendar-alt"></i>
                            Takvim
                        </h3>
                        <!-- tools card -->
                        <div class="card-tools">
                            <!-- button with a dropdown -->
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body pt-0">
                        <!--The calendar -->
                        <div id="calendar" style="width: 100%">

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <section class="col-lg-6 connectedSortable ui-sortable">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-gamepad"></i>
                            Yılan Oyunu
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <canvas id="game" width="400" height="400"></canvas>
                            </div>
                            <div class="col-3 ml-5">
                                <h2 class="text-center">Skorlar</h2>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <button id="basla" type="button" class="btn btn-info float-left"><i class="fas fa-play-circle"></i> Başlat</button>
                    </div>
                </div>
            </section>

        </div><!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yapılacak İşlem Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="todo-form" name="form">
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input class="form-control" type="text" id="mesaj" value="" placeholder="Başlık" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input class="form-control" type="text" id="sure" value="" placeholder="Süre" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="~/scripts/adminPanel/todo.js"></script>
<script>
    window.addEventListener("keydown", function (e) {
        // Yön tuşlarıyla scrool engelleme
        if ([37, 38, 39, 40].indexOf(e.keyCode) > -1) {
            e.preventDefault();
        }
    }, false);
</script>
<script src="~/scripts/adminPanel/Snake.js"></script>

