@{
    Layout = null;
    ClaimsPrincipal currentUser = this.User;
}

<!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a asp-area="administrator" asp-controller="dashboard" asp-action="Index" class="nav-link">Anasayfa</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Bildirim alanı-->
            @await Component.InvokeAsync("Notification")

            <!--Dropdown Menu -->
            <li class="nav-item">
                <a class="nav-link" role="button" asp-area="Sign" asp-controller="login" asp-action="cikisYap">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>        
    </nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-area="administrator" asp-controller="dashboard" asp-action="Index" class="brand-link">
        <img src="~/dist/img/study_32px.png" alt="StudyCheck Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span style="color:#ff5311;" class="brand-text font-weight-light">StudyCheck</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/administrator_male_32px.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@currentUser.Identity.Name</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a asp-area="administrator" asp-controller="dashboard" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview @(ViewContext.RouteData.Values["Controller"].ToString() == "Kullanici"  ? "menu-open" : "")">
                    <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Kullanici" ? "active":"")">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Kullanıcı İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="kullanici" asp-action="kullaniciListesi" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "KullaniciListesi" ? "active" : "")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Kullanıcı Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="kullanici" asp-action="kullaniciEkle" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "KullaniciEkle" ? "active" : "")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Kullanıcı Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview @(ViewContext.RouteData.Values["Controller"].ToString() == "Rol" ? "menu-open" : "")">
                    <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Rol"?"active":"")">
                        <i class="nav-icon fas fa-user-tag"></i>
                        <p>
                            Rol İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="rol" asp-action="rolListesi" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "RolListesi" ? "active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Rol Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="rol" asp-action="rolEkle" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "RolEkle" ? "active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Rol Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview @(ViewContext.RouteData.Values["Controller"].ToString() == "Yetki" ? "menu-open":"")">
                    <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Yetki" ? "active":"")">
                        <i class="nav-icon fas fa-sliders-h"></i>
                        <p>
                            Yetki İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="yetki" asp-action="yetkiListesi" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "YetkiListesi"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Yetki Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="yetki" asp-action="yetkiEkle" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "YetkiEkle"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Yetki Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview @(ViewContext.RouteData.Values["Controller"].ToString()=="Sinav"?"menu-open":"")">
                    <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Sinav"?"active":"")">
                        <i class="nav-icon fas fa-sticky-note"></i>
                        <p>
                            Sınav İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="sinav" asp-action="sinavListesi" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString()=="SinavListesi"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Sınav Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="sinav" asp-action="sinavEkle" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString()=="SinavEkle"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Sınav Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview @(ViewContext.RouteData.Values["Controller"].ToString()=="Ders"?"menu-open":"")">
                    <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Ders"?"active":"")">
                        <i class="nav-icon fas fa-paste"></i>
                        <p>
                            Ders İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="ders" asp-action="dersListesi" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString()=="DersListesi"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Ders Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="ders" asp-action="dersEkle" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString()=="DersEkle"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Ders Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header" style="color:#ff5311;text-align:center;"><h5>- IDENTITY CORE -</h5></li>
                <li class="nav-item has-treeview @(ViewContext.RouteData.Values["Controller"].ToString()=="Identity"?"menu-open":"")">
                    <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="Identity"?"active":"")">
                        <i class="nav-icon fas fa-paste"></i>
                        <p>
                            Identity Core İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="identity" asp-action="roleListesi" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString()=="RoleListesi"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Identity Rol Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="identity" asp-action="roleEkle" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString()=="RoleEkle"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Identity Rolü Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>          
                
                <li class="nav-item has-treeview @(ViewContext.RouteData.Values["Controller"].ToString()=="IdentityYetki"?"menu-open":"")">
                    <a href="#" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString()=="IdentityYetki"?"active":"")">
                        <i class="nav-icon fas fa-paste"></i>
                        <p>
                            Yetki İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="administrator" asp-controller="identityYetki" asp-action="yetkiVer" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "YetkiVer"?"active":"")">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Yetki Ver</p>
                            </a>
                        </li>                        
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>