@model EntityListModel;
@{
    ViewData["Title"] = "Ders Listesi";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
    DersModel _model;
}

@section AlertScripts{
    <!-- JQuery -->
    <script src="~/scripts/jquery/jquery.min.js"></script>
    <!-- Sweet Alert 2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- Alerts -->
    <script src="~/scripts/loginSignOut/validationAlerts.js"></script>
    <!-- Utilities -->
    <script src="~/scripts/adminPanel/Utilities.js"></script>
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ders Listesi</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Ders İşlemleri</a></li>
                    <li class="breadcrumb-item active">Ders Listesi</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tüm Dersler</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="dersTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Ders Id</th>
                                <th>Ders Adı</th>
                                <th>Kayıtlı Olduğu Sınav</th>
                                <th>Kayıt Tarihi</th>
                                <th>Dersi Ekleyen</th>
                                <th>Durum</th>
                                <th class="text-center">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ders in Model.dersler)
                            {
                                _model = new DersModel
                                {
                                    dersAd = ders.ders_ad,
                                    dersId = ders.id,
                                    eklenmeTarihi = ders.eklenme_tarihi,
                                    ekleyenId = ders.ekleyen_id,
                                    guncellemeTarihi = ders.guncelleme_tarihi,
                                    guncelleyenId = ders.guncelleyen_id,
                                    silId = ders.sil_id,
                                    sinavId = ders.sinav_id
                                };
                                <tr>
                                    <td class="text-center" style="color:#ff5311;">@ders.id</td>
                                    <td>@ders.ders_ad</td>
                                    <td>@Model.sinavlar.Where(s => s.id == ders.sinav_id).Single().sinav_ad</td>
                                    <td>@ders.eklenme_tarihi</td>
                                    <td>@Model.kullanicilar.Where(k => k.id == ders.ekleyen_id).Single().kullanici_adi</td>
                                    <td style="@(ders.sil_id==0 ? "color:red;":"color:limegreen;")">@(ders.sil_id==1?"Aktif":"Pasif")</td>
                                    <td class="text-center" style="color:#ff5311;"><a href="@Url.Action("DersDuzenle","Ders",_model)"><i class="fas fa-cog"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</section>

@if (ViewBag.Exceptions != null)
{
    <script type="text/javascript">
        AlertErrors("Sonuç", "@ViewBag.Exceptions", "exception");
    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        AlertErrors("Sonuç", "@ViewBag.Message", "success");
    </script>
}

@section Scripts{
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#dersTable").DataTable({
                "language": {
                    "info": "Toplam: _TOTAL_ veri mevcut",
                    "infoEmpty": "Gösterilecek veri yok",
                    "infoFiltered": " - _MAX_ veriden filtrelendi",
                    "lengthMenu": "Göster _MENU_ Roller",
                    "search": "Ara:",
                    "zeroRecords": "Kayıt bulunamadı",
                    "paginate": {
                        "previous": "Önceki",
                        "next": "Sonraki"
                    },
                },
                "responsive": true,
                "autoWidth": false,
                "paging": true,
            });
        });
    </script>
}
