@model EntityListModel;
@{
    ViewData["Title"] = "Sınav Listesi";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sınav Listesi</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sınav İşlemleri</a></li>
                    <li class="breadcrumb-item active">Sınav Listesi</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tüm Roller</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="sinavTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Sınav Id</th>
                                <th>Sınav Adı</th>
                                <th>Sınav Tarihi</th>
                                <th>Kayıt Tarihi</th>
                                <th>Sınavı Ekleyen</th>
                                <th>Durum</th>
                                <th class="text-center">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sinav in Model.sinavlar)
                            {
                                <tr>
                                    <td class="text-center" style="color:#ff5311;">@sinav.id</td>
                                    <td>@sinav.sinav_ad</td>
                                    <td>@sinav.sinav_tarih.ToShortDateString()</td>
                                    <td>@sinav.eklenme_tarihi</td>
                                    <td>@Model.kullanicilar.Where(k=>k.id==sinav.ekleyen_id).Single().kullanici_adi</td>
                                    <td style="@(sinav.sil_id==0?"color:red;":"color:limegreen;")">@(sinav.sil_id == 1?"Aktif":"Pasif")</td>
                                    <td class="text-center" style="color:#ff5311;"><i class="fas fa-cog"></i></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</section>

@section Scripts{
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#sinavTable").DataTable({
                "language": {
                    "info": "Toplam: _TOTAL_ veri mevcut",
                    "infoEmpty": "Gösterilecek veri yok",
                    "infoFiltered": " - _MAX_ veriden filtrelendi",
                    "lengthMenu": "Göster _MENU_ Sınavlar",
                    "search": "Ara:",
                    "zeroRecords": "Kayıt bulunamadı",
                    "paginate": {
                        "previous": "Önceki",
                        "next": "Sonraki"
                    },
                },
                "responsive": true,
                "autoWidth": false,
                "paging": true,
            });
        });
    </script>
}


