@model PanelModel
@{
    ViewData["Title"] = "Bir çalışma oluşturun!";
    Layout = "~/Areas/Study/Views/Shared/_StudyLayout.cshtml";
    ClaimsPrincipal currentUser = this.User;
}

<!--   Creative Tim Branding   -->
<a href="#">
    <div class="logo-container">
        <div class="logo">
            <img style="background:center center no-repeat;width:32px;height:32px;" src="~/UserPage/assets/img/userLogo.jpg">
        </div>
        <div class="brand">
            @currentUser.Identity.Name
        </div>
    </div>
</a>

<ul class="nav-menu">
    <li class="nav-item">
        <a asp-area="" asp-controller="home" asp-action="Index">Anasayfa</a>
    </li>
    <li class="nav-item">
        <a asp-area="sign" asp-controller="login" asp-action="CikisYap">Çıkış YAP</a>
    </li>
</ul>


<!--   Big container   -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!--      Wizard container        -->
            <div class="wizard-container">

                <div class="card wizard-card" data-color="orange" id="wizardProfile">
                    <form action="" method="">
                        <!--        You can switch ' data-color="orange" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

                        <div class="wizard-header">
                            <h3>
                                <b>Çalışmaya</b> Başlayın <br>
                                <small>Çalışmanızı ayarlayın</small>
                            </h3>
                        </div>

                        <div class="wizard-navigation">
                            <ul style="pointer-events:none">
                                <li><a href="#baslangic" data-toggle="tab">Başlangıç</a></li>
                                <li><a href="#ayarlar" data-toggle="tab">Ayarlar</a></li>
                                <li><a href="#start" data-toggle="tab">Çalışma</a></li>
                            </ul>

                        </div>

                        <div class="tab-content">
                            <div class="tab-pane" id="baslangic">
                                <h4 class="info-text"> StudyCheck bilgileriniz</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Genel Bilgiler</h3>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <p class="list-group-item"><b style="color:#ff5311">Adı:</b> @Model.userDetail.uye_ad</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Soyadı:</b> @Model.userDetail.uye_soyad</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Toplam Çalışılan Zaman:</b> @Model.toplamCalisilanZaman</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Son Çalışılan Sınav:</b> @Model.sonCalisilanSinav</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Son Çalışılan Ders:</b> @Model.sonCalisilanDers</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Son Çalışma Tarihi:</b> @Model.sonCalismaTarihi</p>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Çalışma Bilgileri</h3>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <p class="list-group-item"><b style="color:#ff5311">Son Çalışılan Sınav:</b> @Model.sonCalisilanSinav</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Sınava Çalışılan Toplam Zaman:</b> @Model.sinavaCalisilanToplamZaman</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Sınav Tarihi:</b> @Model.sinavTarihi</p>
                                                </ul>
                                                <ul class="list-group list-group-flush">
                                                    <p class="list-group-item"><b style="color:#ff5311">Son Çalışılan Ders:</b> @Model.sonCalisilanDers</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Derse Çalışılan Toplam Zaman:</b> @Model.derseCalisilanToplamZaman</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Son Çalışılan Zaman:</b> @Model.derseSonCalisilanZaman</p>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Kullanıcı Bilgileri</h3>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <p class="list-group-item"><b style="color:#ff5311">Kullanıcı Adı:</b> @Model.userDetail.kullanici_adi</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">E-Mail:</b> @Model.userDetail.kullanici_mail</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Kayıt Tarihi:</b> @Model.userDetail.kayit_tarihi</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Tema:</b> Default</p>
                                                    <p class="list-group-item"><b style="color:#ff5311">Rol:</b> @Model.rolAdi</p>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="ayarlar">
                                <h4 class="info-text"> Çalışmanızı Ayarlayın </h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Çalışma Bilgileri</h3>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <p id="sinavAd" class="list-group-item"><b style="color:#ff5311">Sınav Adı:</b>-</p>
                                                    <p id="toplamZaman" class="list-group-item"><b style="color:#ff5311">Sınava Çalışılan Toplam Zaman:</b>-</p>
                                                    <p id="kalanGun" class="list-group-item"><b style="color:#ff5311">Sınava Kalan Gün:</b>-</p>
                                                    <hr />
                                                    <p id="dersAd" class="list-group-item"><b style="color:#ff5311">Ders Adı:</b>-</p>
                                                    <p id="dersToplam" class="list-group-item"><b style="color:#ff5311">Derse Çalışılan Toplam Zaman:</b>-</p>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="row">
                                                <div class="col-4">
                                                    <h3 class="card-title" style="margin-top:28px">Aktif Sınavlar</h3>
                                                    <!-- List group -->
                                                    <div class="list-group" style="margin-top:12px;height: 270px;overflow:scroll;-webkit-overflow-scrolling:touch;overflow-x: hidden;border:1px solid #808080;border-radius:4px" id="sinavList" role="tablist">
                                                        @foreach (var sinav in Model.aktifSinavlar)
                                                        {
                                                            <a class="list-group-item list-group-item-action sinavClass" data-toggle="list" id="@sinav.id" role="tab" onclick="checkSettings()">@sinav.sinav_ad</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin-left:16px">
                                            <div class="row">
                                                <div class="col-4">
                                                    <h3 class="card-title" style="margin-top:28px">Aktif Dersler</h3>
                                                    <!-- List group -->
                                                    <div class="list-group" style="margin-top:12px;height: 270px;overflow:scroll;-webkit-overflow-scrolling:touch;overflow-x: hidden;border:1px solid #808080;border-radius:4px" id="dersList" role="tablist">
                                                        <!-- From script (Ders listesi) -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="start">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Çalışılan Sınav</h3>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <p id="studySinavAd" class="list-group-item"><b style="color:#ff5311">Sınav Adı:</b>-</p>
                                                    <p id="studyToplamZaman" class="list-group-item"><b style="color:#ff5311">Sınava Çalışılan Toplam Zaman:</b>-</p>
                                                    <p id="studyKalanGun" class="list-group-item"><b style="color:#ff5311">Sınava Kalan Gün:</b>-</p>
                                                </ul>
                                            </div>
                                            <div class="card-block">
                                                <b style="color:#ff5311">Başlanıç Zamanı: </b><label id="startTime">-</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card align-items-center">
                                                <div class="card-header">
                                                    <h3 class="card-title" style="text-align:center;">Şuan Çalışılan Zaman</h3>
                                                </div>
                                                <h3 id="timeShow" style="text-align:center;font-family:Consolas;font-weight:bold"><b style="color:#ff5311" class="values">00:00:00</b></h3>
                                                <div id="controlButtons" class="card-block" style="text-align:center">
                                                    <button id="btnBaslat" type="button" class="btn btn-primary aktif"><i class="fas fa-play"></i></button>
                                                    <button id="btnDuraklat" type="button" class="btn btn-warning"><i class="fas fa-pause"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Çalışılan Ders</h3>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <p id="studyDersAd" class="list-group-item"><b style="color:#ff5311">Ders Adı:</b>-</p>
                                                    <p id="studyDersToplamZaman" class="list-group-item"><b style="color:#ff5311">Derse Çalışılan Toplam Zaman:</b>-</p>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="wizard-footer height-wizard">
                            <div class="pull-right">
                                <input type='button' id="next" class='btn btn-next btn-fill btn-info btn-wd btn-sm' name='next' value='Devam' />
                                <input type='button' id="kaydet" class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish' value='Kaydet' />
                            </div>
                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Geri' />
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div><!-- end row -->
</div> <!--  big container -->

<script src="~/UserPage/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/UserPage/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/scripts/studyPanel/checkConfig.js"></script>
<script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js"></script>

<script>
    $('#sinavList a').on('click', function (e) {
        e.preventDefault()
        $(this).addClass('active').siblings().removeClass('active');
    });

    $("#controlButtons button").on("click", function (e) {
        e.preventDefault();
        $(this).removeClass('aktif').siblings().addClass('aktif');
        checkButtonStatus();
    });

    $("#btnBaslat").one("click", function () {
        var label = document.getElementById("startTime");
        var bugun = new Date();
        var date = bugun.getDate() + '-' + (bugun.getMonth() + 1) + '-' + bugun.getFullYear();
        var time = bugun.getHours() + ':' + bugun.getMinutes() + ':' + bugun.getSeconds();
        var dateTime = date + ' ' + time;
        label.innerHTML = dateTime;
    });

    $('a[data-toggle="list"]').on('shown.bs.tab', function (e) {
        e.target // newly activated tab
        e.relatedTarget // previous active tab
    })
    
</script>

@section Scripts{
    <script src="~/UserPage/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <!--  Plugin for the Wizard -->
    <script src="~/UserPage/assets/js/gsdk-bootstrap-wizard.js"></script>
    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
    <script src="~/UserPage/assets/js/jquery.validate.min.js"></script>

    <!-- Seçilen sınavın derslerini getir -->
    <script type="text/javascript">
        var div = document.getElementById('dersList');
        var s_ad = document.getElementById('sinavAd');
        var s_toptime = document.getElementById('toplamZaman');
        var s_kalan = document.getElementById('kalanGun');
        var calisilanSinavAd = "";
        var calisilanDersAd = "";
    $(document).ready(function () {
        $(".sinavClass").click(function () {
            div.textContent = '';
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDers","Home")',
                data: { sinavId: this.id },
                dataType: 'json',
                success: function (result) {
                    if (result.value != "Veri Yok" && result.success == true) {
                        for (var i = 0; i < result.value.length; i++) {
                            var node = document.createElement("a");
                            var textNode = document.createTextNode(result.value[i].ders_ad);
                            node.appendChild(textNode);
                            node.classList.add("list-group-item");
                            node.classList.add("list-group-item-action");
                            node.classList.add("dersClass");
                            node.setAttribute("data-toggle", "list");
                            node.setAttribute("id", result.value[i].id);
                            node.setAttribute("role", "tab");
                            div.appendChild(node);
                        }
                    }
                    else {
                        div.textContent = '';
                    }
                }
            });
            var start_sinavAd = document.getElementById('studySinavAd');
            var start_toplam = document.getElementById('studyToplamZaman');
            var start_kalan = document.getElementById('studyKalanGun');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSinavBilgileri","Home")',
                data: { sinavId: this.id },
                dataType: 'json',
                success: function (result) {
                    if (result.success == true) {
                        s_ad.innerHTML = '<b style="color:#ff5311">Sınav Adı: </b>' + result.sinavAdi;
                        s_toptime.innerHTML = '<b style="color:#ff5311">Sınava Çalışılan Toplam Zaman: </b>' + result.topTime;
                        s_kalan.innerHTML = '<b style="color:#ff5311">Sınava Kalan Gün: </b>' + result.kalanGun;
                        //-------------------- Start Section
                        start_sinavAd.innerHTML = '<b style="color:#ff5311">Sınav Adı: </b>' + result.sinavAdi;
                        start_toplam.innerHTML = '<b style="color:#ff5311">Sınava Çalışılan Toplam Zaman: </b>' + result.topTime;
                        start_kalan.innerHTML = '<b style="color:#ff5311">Sınava Kalan Gün: </b>' + result.kalanGun;
                        calisilanSinavAd = result.sinavAdi;
                    }
                }
            });
        });
    });
        var d_ad = document.getElementById('dersAd');
        var d_toplam = document.getElementById('dersToplam');
        var start_dersAd = document.getElementById('studyDersAd');
        var start_toplam = document.getElementById('studyDersToplamZaman');
         $(div).on('click', 'a', function (e) {
            e.preventDefault()
            $(this).addClass('active').siblings().removeClass('active');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDersBilgileri","Home")',
                data: { dersId: this.id },
                dataType: 'json',
                success: function (result) {
                    if (result.success == true) {
                        d_ad.innerHTML = '<b style="color:#ff5311">Ders Adı: </b>' + result.dersAdi;
                        d_toplam.innerHTML = '<b style="color:#ff5311">Derse Çalışılan Toplam Zaman: </b>' + result.dtopTime;
                        //------------------- Start Section
                        start_dersAd.innerHTML = '<b style="color:#ff5311">Ders Adı: </b>' + result.dersAdi;
                        start_toplam.innerHTML = '<b style="color:#ff5311">Derse Çalışılan Toplam Zaman: </b>' + result.dtopTime;
                        calisilanDersAd = result.dersAdi;
                    }
                }
            });
             checkSettings();
         });
        //Timer Script
    var timer = new Timer();
    $("#btnBaslat").click(function () {
        timer.start();
    });
    $("#btnDuraklat").click(function () {
        timer.pause();
    });
    timer.addEventListener('secondsUpdated', function (e) {
        $("#timeShow .values").html(timer.getTimeValues().toString());
    });
    timer.addEventListener('started', function (e) {
        $("#timeShow .values").html(timer.getTimeValues().toString());
    });
    timer.addEventListener('reset', function (e) {
        $("#timeShow .values").html(timer.getTimeValues().toString());
    });

    //Kaydet    
    $("#kaydet").click(function () {
        timer.pause();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("calismaKaydet","Home")',
            data: { calisilanZaman: timer.getTimeValues().toString(), uyedetayId:@Model.userDetail.uyedetay_id, sinavAdi: calisilanSinavAd, dersAdi: calisilanDersAd },
            success: function () {
                location.reload();
            }
        });
    });
    </script>
}