@model EntityListModel;
@{
    ViewData["Title"] = "Rol Listesi";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
    RolModel _model;
}

@section AlertScripts{
    <!-- JQuery -->
    <script src="~/scripts/jquery/jquery.min.js"></script>
    <!-- Sweet Alert 2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- Alerts -->
    <script src="~/scripts/loginSignOut/validationAlerts.js"></script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Rol Listesi</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Rol İşlemleri</a></li>
                    <li class="breadcrumb-item active">Rol Listesi</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tüm Roller</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="rolTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Rol Id</th>
                                <th>Rol Adı</th>
                                <th>Kayıt Tarihi</th>
                                <th>Rolü Ekleyen</th>
                                <th>Rol Yetkisi</th>
                                <th>Durum</th>
                                <th class="text-center">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rol in Model.roller)
                            {
                                _model = new RolModel
                                {
                                    rolId = rol.id,
                                    rolAd = rol.rol_adi,
                                    ekleyenId = rol.ekleyen_id,
                                    guncellemeTarihi = rol.rol_guncelleme_tarihi,
                                    guncelleyenId = rol.guncelleyen_id,
                                    kayitTarihi = rol.rol_kayit_tarihi,
                                    silId = rol.sil_id,
                                    yetkiId = rol.yetki_id
                                };
                                <tr>
                                    <td style="color:#ff5311;" class="text-center">@rol.id</td>
                                    <td>@rol.rol_adi</td>
                                    <td>@rol.rol_kayit_tarihi</td>
                                    <td>@Model.kullanicilar.Where(k => k.id == rol.ekleyen_id).Single().kullanici_adi</td>
                                    <td>@Model.yetkiler.Where(y => y.id == rol.yetki_id).Single().yetki_adi</td>
                                    <td style="@(rol.sil_id==0?"color:red;":"color:limegreen;")">@(rol.sil_id == 1 ? "Aktif":"Pasif")</td>
                                    <td class="text-center"><a href="@Url.Action("RolDuzenle","Rol",_model)"><i style="color:#ff5311;" class="fas fa-cog"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</section>

@if (ViewBag.Exceptions != null)
{
    <script type="text/javascript">
        AlertErrors("Sonuç", "@ViewBag.Exceptions", "exception");
    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        AlertErrors("Sonuç", "@ViewBag.Message", "success");
    </script>
}

@section Scripts{
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#rolTable").DataTable({
                "language": {
                    "info": "Toplam: _TOTAL_ veri mevcut",
                    "infoEmpty": "Gösterilecek veri yok",
                    "infoFiltered": " - _MAX_ veriden filtrelendi",
                    "lengthMenu": "Göster _MENU_ Roller",
                    "search": "Ara:",
                    "zeroRecords": "Kayıt bulunamadı",
                    "paginate": {
                        "previous": "Önceki",
                        "next": "Sonraki"
                    },
                },
                "responsive": true,
                "autoWidth": false,
                "paging": true,
            });
        });
    </script>
}

